#score-line-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px dotted black;
    border-radius: 5px;
    background-color: aliceblue;
}

#left-group-table, #right-group-table {
    display: inline-flex;
    align-items: center;
}
#right-group-table {
    display: inline-flex;
    align-items: center;
}

#score-line-container:hover {
    background-color: beige;
}

#player-rank {
    border: 2px solid black;
    border-radius: 5px;
    width: 50px;
    text-align: center;
    margin-right: 5px;
}

/* #player-image {
    height: 50px;
} */

#player-rank-diff-icon {
    size: 28px;
    width: 2vw;
    margin-right: 10px;
}

#player-rank-diff {
    width: 3vw;
}

#player-name{
width: 30vw;
}

#player-score-diff {
    width: 12vw;
    color: green;
    margin-right: 10px;
}

#player-score {
    padding-right: 20px;
}

.first {
    font-size: 16pt;
    line-height: 6vh;
    background-color: gold;
}

.second {
    font-size: 16pt;
    line-height: 4vh;
    background-color: silver;
}

.third {
    font-size: 14pt;
    line-height: 2vh;
    background-color: rgb(205, 127, 50);
}
.rest {
    font-size: 10pt;
}


/* #arrow-down {
    animation: move-down 1.5s ease-out;
}

#arrow-up {
    animation: move-up 1.5s ease-out;
}

@keyframes move-down {
    0% {
      transform: translatey(-20px);
      opacity: 0;
    }

    80% {
        transform: translatey(20px);
    }

    100% {
      transform: translatey(0px);
      opacity: 1;
    }
  }

  @keyframes move-up {
    0% {
        transform: translatey(20px);
        opacity: 0;
      }
  
      80% {
          transform: translatey(-20px);
      }
  
      100% {
        transform: translatey(0px);
        opacity: 1;
      }
  } */