#score-line-container {
    display: flex;
    justify-content: space-between;
    border: 1px dotted black;
    border-radius: 25px;
}

#player-rank {
    border: 2px solid black;
    border-radius: 25px;
    width: 40px;
    text-align: center;
}

/* #player-image {
    height: 50px;
} */

#player-name{
width: 20vw;
}

#player-scoreDiff {
    width: 5vw;
}

#player-score {
    padding-right: 20px;
}