#score-line-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px dotted black;
    border-radius: 10px;
}

#score-line-container:hover {
    background-color: beige;
}

#player-rank {
    border: 2px solid black;
    border-radius: 10px;
    width: 40px;
    text-align: center;
}

/* #player-image {
    height: 50px;
} */

#player-rank-diff-icon {
    size: 28px;
    width: 2vw;
}

#player-rank-diff {
    width: 3vw;
}

#player-name{
width: 20vw;
}

#player-scoreDiff {
    width: 9vw;
}

#player-score {
    padding-right: 20px;
}

/* #arrow-down {
    animation: move-down 1.5s ease-out;
}

#arrow-up {
    animation: move-up 1.5s ease-out;
}

@keyframes move-down {
    0% {
      transform: translatey(-20px);
      opacity: 0;
    }

    80% {
        transform: translatey(20px);
    }

    100% {
      transform: translatey(0px);
      opacity: 1;
    }
  }

  @keyframes move-up {
    0% {
        transform: translatey(20px);
        opacity: 0;
      }
  
      80% {
          transform: translatey(-20px);
      }
  
      100% {
        transform: translatey(0px);
        opacity: 1;
      }
  } */