#score-table {
    height: 80vh;
    width: 80vw;
    border: 2px solid rgb(151, 151, 194);
    border-radius: 10px;
    overflow: scroll;
}

#score-table-container {
    display: flex;
    justify-content: center;
    
}

#headers {
    display: flex;
    justify-content: space-evenly;
}

@media only screen and (max-width: 550px) {
    #headers {
        opacity: 0;
    }
  }