#header {
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin-top: 5vh;
}

.star {
  animation: rotate 2s ease infinite;
}


@keyframes rotate {
  0%{
    transform: rotate(0deg);
  }

  50%{
    transform: rotate(180deg);
  }

  100%{
    transform: rotate(360deg);
  }
}