#header {
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin-top: 5vh;
}

.star {
  animation: rotate 2s ease infinite;
}

.star2 {
  animation-delay: 0.25s;
}

.star3 {
  animation-delay: 0.5s;
}

.star4 {
  animation-delay: 0.75s;
}

#headline-btn:hover {
  transform: translateY(-5px);
}

#headline-btn:active {
  transform: translateY(0px);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
